@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');

body{
      background-image: url("../images/bg.gif");
      color: #fff;
}
.container h1{
      font-family: 'ZCOOL QingKe HuangYou', cursive;
      font-size: 75px;
      color: gold;
}
#title-div{
      margin-left: 30%;
      margin-top: 5%;
}
#title-div img{
      width: 50%;
      height: auto;
      border-radius: 50%;
}
#title-page{
      margin-top: 5%;
      margin-left: 23%;
}

.container{
      margin-left:28%;
      margin-top:3%;
      margin-bottom: 3%; 
}
hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #ccc;
      margin: 1em 0;
      padding: 0; 
      width: 50%;
  }
  .block ul li{
      overflow: hidden;
      color: #b4b100;
      font-size: 25px;
}
.sub-Btn{
      margin-left:20%; 
}